NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_PROVIDER_DAILY_DOMAIN=
NEXT_PUBLIC_PROVIDER_DAILY_ROOM_ID=
NEXT_SECRET_PHRASE=

SUPABASE_SERVICE_KEY=